<form method="post" action="{{ path('admin_apropos_delete', {'id': apropos.id}) }}" onsubmit="return confirm('Es-tu sûre de vouloir supprimer cet article ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ apropos.id) }}">
    <button class="btn btn-danger mt-2">Supprimer</button>
</form>
