{% extends 'base-admin.html.twig' %}

{% block title %}New SecondCarousel{% endblock %}

{% block body %}
    <h1>Create new SecondCarousel</h1>

    {{ include('admin_second_carousel/_form.html.twig') }}

    <a href="{{ path('admin_second_carousel_index') }}">back to list</a>
{% endblock %}
