{% extends 'base.html.twig' %}

{% block title %}Nous contacter{% endblock %}

{% block body %}

{% for message in app.flashes('notice') %}
    <div class="alert alert-info">{{ message }}</div>
{% endfor %}

<div class="container">
    <div class="row my-5">
        <div class="col-md-8">
            <h3 class="mb-5">Nous contacter</h3>
            <p>Vous pouvez nous contacter du lundi au vendredi de 16h à 20h et le week-end de 9h à 20h par téléphone au 01.43.25.80.73 ou envoyer un mail à boutique.bibelou@gmail.com.</p>
            <p>Vous pouvez également nous envoyer un message via le formulaire de contact. Le délai de réponse est de 72h.</p>
        </div>
        <div class="col-md-4">{{ form(form) }}</div>
    </div>
</div>

{% endblock %}
